h1 {
    text-align: center;
    border: thick solid red;
    text-decoration: none;
    padding: 1ex;
    width: 50%;
    color: red;
    font-size: 24 pt;
    font-family: Tahoma, Helvetica, sans-serif;
}

em {
    color: green;
    font-size: normal;
    background-color: lightgray;
    font-weight: bold;
}

ul {
    list-style-type: square;
}

a:hover {
    text-decoration: none;
}

li:first-child {
    border: thick solid green;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1ex;
    width: 40%;
}

p.centered {
    text-align: center;
    width: 50%;
}
